*.so
*_response.txt
*.o
*_response.png
test_clickdetect
test_riaa_clicks
test_click_energy
test_lpc
riaa_process

# Debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/ladspa-riaa/
debian/riaa/
